@media (max-width: 1199px) {
  .page__main {
    display: flex;
    flex-direction: column;
  }
  .main__intro {
    width: 100%;
    max-width: 700px;
    height: auto;
  }
  .main__title {
    margin-top: 56px;
  }
  .main-posts {
    display: flex;
    flex-direction: column;

    &__element {
      margin-bottom: 32px;
    }

    &__paragraph {
      width: 404px;
    }
  }
}

@media (max-width: 767px) {
  .page__main {
    display: flex;
    flex-direction: column;
  }
  .main__title {
    font-size: 14px;
    margin-top: 38px;
    margin-bottom: 23px;
  }
  .main__intro {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-top: 83px;
  }
  .main-posts {
    display: block;

    &__element {
      display: block;
      margin-bottom: 28px;
    }

    &__paragraph {
      display: none;
    }

    &__title {
      margin-left: 0;
      font-size: 14px;
      margin-bottom: 0;
    }

    &__comments {
      font-size: 11px;
      margin-left: 0;
      margin-top: 1px;
    }
  }
}

